<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200636773408-8tkg23ac8p934375qudg8pjd78rq9r2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200636773408-8tkg23ac8p934375qudg8pjd78rq9r2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCqPnDRVBxAoXvRJ_vq6ZPqpZRDMi28zXg</string>
	<key>GCM_SENDER_ID</key>
	<string>200636773408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sturnella.Quick-ToDo.Quick-ToDoExtension</string>
	<key>PROJECT_ID</key>
	<string>quick-todo-1d37f</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-todo-1d37f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200636773408:ios:8f9b1346ec6cf1b0</string>
	<key>DATABASE_URL</key>
	<string>https://quick-todo-1d37f.firebaseio.com</string>
</dict>
</plist>